@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Sevillana', cursive;
    font-weight: 200;

}

h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 5px black;

}

#logo {
    text-align: center;
    text-transform: 300%;
    margin-left: 30px;
    text-decoration: none;

}

#nav-menu,
#logo {
    line-height: 75px;
    color: rgb(17, 17, 17);
    padding-top: 30px;
    
}

/* navigation links*/

#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;
   


}

#nav-menu li {
    float: right;
    list-style-type: disc;
    margin: 30px;
    line-height: 75px;
}

#nav-menu a {
    text-decoration: none;

}

.active {
    border-bottom: 1px solid white;
}

#nav-menu a:hover {
    border-bottom: 1px solid white;
}

/*yoga hero img*/

#beach-img {
    height: 300px;
    width: 100%;
}
